.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navlink {
  color: #7A003C;
  margin-left: 10px;
  margin-right: 10px;
}

.navlink-active {
  font-weight: bold;
}

.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: #7A003C !important;
}

.macLogo {
  width: 118px;
  height: 66px;
  margin-right: 20px;
}

.gateway {
  margin-right: 20px !important;
}