.background {
	background-color: #7A003C;
	height: 100vh;
}

.foreground {
	background-color: #FFF;
	width: 97%;
	height: 94%;
	top: 3%;
	margin: 0 auto;
    position: relative;
}

.FixPadding {
	margin: 0 !important;
}

.Title {
	text-align: center;
	padding-left: 0;
}

.linkButton {
	width: 25% !important;
	height: 150%;
}

.linkText {
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.modify-button-group {
	margin-top: 30px !important;
}

.optionButton {
	margin: 10px !important;
}

.deleteButton {
	color:  red !important;
}

.filledButton {
	color: green !important;
}

.closeButton {
	color: rgb(138, 138, 2) !important;
}

.reopenButton {
	color: rgb(0, 100, 0) !important;
}